<h4>Please Select which Dish to add this to</h4>
<form method="post" action="/ingredients_dishes">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="ingredient_id" value="<%=@current_ingredient_id%>"/>
  <select name="dish_id">
    <% @dishes.each do |dish| %>
      <option value=<%=dish[:id]%>><%=dish[:name]%></option>
    <% end %>
  </select>
  <input type="submit" value="Add it to the dish!" />
</form>
