<% @users.each do |user| %>
    <p><%=user[:email]%>:</p>
  <% user.dishes.each do |dish| %>
      <p><%=dish[:name]%></p>
  <% end %>
  <strong>Alergies:</strong>
  <% user.ingredients.each do |ingredient| %>
      <p><%=ingredient[:name]%></p>
  <% end %>
<% end %>
